.item-card {
    /* width:320px;
    height:500px;
    border-radius:20px; */
    overflow:hidden;
    /* border:8px solid #fff; */
    position:relative;
    width:100%;
    height:100%;
}

.item-card-img {
    width:100%;
    height:100%;
    object-fit:cover; 
    border-radius:3px;
}

.item-card-body {
    width: 100%;
    height: 100%;
    /* top:100%;
    right:0; */
    top:0;
    right:-100%;
    position: absolute;
    background: #153d4738;
    background: #aaaaaa50;
    backdrop-filter: blur(5px);
    border-radius:5px;
    padding: 30px;
    display: flex;
    flex-direction:column;
    justify-content:center;

    transition: 1s;
}

.item-card:hover .item-card-body {
    /* top:0; */
    right:0;
}